<!DOCTYPE html>
<html>
<head>
    <title>Welcome Page</title>
</head>
<body>
    <h1>Welcome, <%= user.username %>!</h1>
    <p>First Name: <%= user.first_name %></p>
    <p>Last Name: <%= user.last_name %></p>
    <p>Email Address: <%= user.email %></p>
</body>
</html>